.order-summary-badge {
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    font-size: 15px;
    color: white;
    position: absolute;
    top: -10px;
    background-color: black;
    right: -10px;
    font-weight: bold;
    font-family: #1f1f1f;
    font-display: swap;
}

.pricexqty {
    font-size: 12px;
    color: #e7cf3c;
    margin: 5px 0 8px;
}

.order-summary-total-price {
    margin: 0 0 10px 0; 
    font-size: 15px;
    font-weight: bold;
    letter-spacing : 1px;
    color: #000;
    line-height: 25px; 
}