.bag-container {
    position: relative;
}

.bag-badge {
    position: absolute;
    top: -8px;
    font-size: 11px;
    color: #1f1f1f;
    left: 37px;
    width: 19px;
    height: 19px;
    line-height: 19px;
    background-color: #e7cf3c;
    border-radius: 50%;
}

.cart-wrap {
    cursor: pointer;
}